@import "../../../../../Animations/Animations.module";
@import "../../../../../Variables/variables.module";

.staffEditOverlay {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  align-items: end;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  opacity: 0;
  transition: opacity $transition-fast;
  &.staffMenuActive {
    pointer-events: auto;
    opacity: 1;
  }

  .staffEditWrapper {
    background-color: $color-secondary;
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
    overflow-y: auto;

    .staffHead {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-border;
      padding-bottom: 20px;
      margin-bottom: 30px;

      .headTitle {
        display: flex;
        flex-direction: column;
        color: $color-white;

        h2 {
          font-family: $font-main;
          font-size: 25px;
          font-weight: 400;
        }

        p {
          font-family: $font-alternative;
          font-size: 18px;

        }
      }

      .closeBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 40px;
        height: 40px;
        background-color: $color-gray;
        border-radius: 50%;
        transition: $transition-fast;
        &:hover {
          background-color: red;
          box-shadow: 0 0 10px red;
          svg {
            color: $color-white;
          }
        }
        svg {
          font-size: 20px;
          color: $color-orange;
          transition: $transition-fast;
        }
      }
    }
    .staffContent {
      display: flex;
      flex-direction: column;
      width: 100%;
      .contentItem {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        gap: 50px;
        p {
          font-size: 25px;
          color: $color-white;
          font-family: $font-main;
          width: 150px;
        }
        label {
          max-width: 600px;
          width: 100%;
          display: flex;
          height: 48px;
          position: relative;
          .passInput {
            padding-right: 60px;
          }
          .showPass {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid $color-white;
            border-radius: 0 5px 5px 0;
            height: 100%;
            display: flex;
            width: 50px;
            align-items: center;
            justify-content: center;
            background-color: $color-border;
            cursor: pointer;
            &:hover {
              svg {
                color: $color-orange;
              }
            }
            svg {
              color: $color-white;
              font-size: 22px;
              transition: color $transition-fast;
            }
          }
          input {
            width: 100%;
            height: 48px;
            background-color: $color-border;
            border: 1px solid $color-white;
            color: $color-white;
            padding: 0 10px;
            border-radius: 5px;
            outline: 0;
            font-family: $font-alternative;
            font-size: 18px;
          }
          select {
            width: 100%;
            height: 48px;
            background-color: $color-border;
            border: 1px solid $color-white;
            color: $color-white;
            padding: 0 10px;
            border-radius: 5px;
            outline: 0;
            font-family: $font-alternative;
            font-size: 18px;

          }
        }
      }
    }
    .staffButtons {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0 0 0 ;
      gap: 25px;
      border-top: 1px solid $color-border;
      .button {
        width: 50%;
        height: 48px;
        border-radius: 10px;
        border: 0;
        outline: 0;
        cursor: pointer;
        color: $color-white;
        font-family: $font-main;
        font-size: 20px;
        transition: $transition-fast;
        text-align: center;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:nth-child(2) {
          background-color: $color-orange;
          border: 1px solid $color-orange;
          &:hover {
            background-color: #9d2800;
            border-color: #9d2800;
          }

        }
        &:nth-child(1) {
          background-color: $color-gray;
          border: 1px solid $color-border;
          color: $color-black;
          &:hover {
            background-color: transparent;
            border-color: $color-white;
            color: $color-white;
          }
        }

      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .staffEditOverlay {
    .staffEditWrapper {
      width: 40%;
      min-width: 500px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .staffEditOverlay {
    .staffEditWrapper {
      padding: 25px;
      .staffHead {
        margin-bottom: 0;
      }
      .staffContent {
        .contentItem {
          padding: 5px 0;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .staffEditOverlay {
    .staffEditWrapper {
      .staffContent {
        .contentItem {
          label {
            height: 40px;
            input {
              height: 100%;
            }
            select {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .staffEditOverlay {
    .staffEditWrapper {
      min-width: auto;
      width: 100%;
      .staffContent {
        .contentItem {
          gap: 20px;
          p {
            font-size: 18px;
            max-width: 70px;
          }
          label {
            .showPass {
              width: 40px;
              svg {
                font-size: 18px;
              }
            }
            select {
              font-size: 14px;
            }
            input {
              font-size: 14px;
            }
          }
        }
      }
      .staffButtons {
        .button {
          height: 40px;
        }
      }
    }
  }
}
