@import "../../../../../Animations/Animations.module";
@import "../../../../../Variables/variables.module";

.categoriesPageWrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  background-color: $color-main;
  padding: 120px 15px 120px 15px;

  .categoriesPageContent {
    display: flex;
    max-width: 1300px;
    width: 100%;
    flex-direction: column;

    .categoryManipulation {
      display: flex;
      width: 100%;
      gap: 25px;
      margin-bottom: 50px;
      justify-content: space-between;

      .searchBlock {
        display: flex;
        background-color: $color-secondary;
        width: 100%;
        border-radius: 10px;
        padding: 25px;
        gap: 25px;

        label {
          width: 100%;
          height: 48px;
          max-width: 550px;
          input {
            width: 100%;
            height: 100%;
            background-color: $color-border;
            border-radius: 5px;
            outline: 0;
            border: 1px solid $color-white;
            padding: 0 10px;
            color: $color-white;
            font-family: $font-alternative;
            font-size: 18px;

          }
        }

        .searchButtons {
          display: flex;
          width: 100%;
          gap: 25px;
          max-width: 250px;


          button {
            width: 100%;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid transparent;
            cursor: pointer;
            transition: $transition-fast;
            font-size: 18px;
            font-family: $font-alternative;
            background-color: $color-orange;
            color: $color-white;

            &:hover {
              background-color: #9d2800;
            }


          }
        }
      }

      .addCategory {
        display: flex;
        gap: 25px;
        justify-content: end;
        padding: 25px;
        background-color: $color-secondary;
        border-radius: 10px;
        max-width: 500px;
        width: 50%;

        button {
          width: 100%;
          height: 48px;
          border-radius: 5px;
          border: 1px solid transparent;
          cursor: pointer;
          font-size: 16px;
          font-family: $font-alternative;
          transition: $transition-fast;
          color: $color-white;
          background-color: green;

          &:hover {
            background-color: darkgreen;
          }
        }
      }
    }

    .categoryTableWrapper {
      display: flex;
      width: 100%;
      background-color: $color-secondary;
      position: relative;
      .loadingCircle {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        svg {
          font-size: 42px;
          color: $color-gray;
          animation: rotateAnimation 1s linear infinite;
        }
      }

      .categoryOverflow {
        display: flex;
        width: 100%;

        .categoryTable {
          display: flex;
          width: 100%;
          border: 1px solid $color-border;
          border-radius: 5px 0 0 0;
          flex-direction: column;
          border-bottom: transparent;
          min-height: 300px;


          .tableRow {
            display: flex;
            width: 100%;
            height: min-content;
            border-bottom: 1px solid $color-border;

            .box {
              display: flex;
              padding: 8px 16px;
              font-family: $font-alternative;
              font-size: 15px;
              align-items: center;
              color: $color-gray;
            }

            .id {
              max-width: 120px;
              width: 100%;
            }

            .icon {
              max-width: 200px;
              width: 100%;

              .iconBox {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background-color: $color-white;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 80%;
                  border-radius: 50%;

                }
              }

            }

            .date {
              width: 100%;
              max-width: 200px;
            }

            .name {
              max-width: 300px;
              width: 100%;
            }

            .action {
              max-width: 120px;
              width: 100%;
              justify-content: end;
              gap: 10px;
              margin-left: auto;

              span {
                cursor: pointer;

                &:nth-child(1):hover {
                  svg {
                    color: green;
                  }
                }

                &:nth-child(2):hover {
                  svg {
                    color: $color-orange;
                  }
                }

                svg {
                  font-size: 23px;
                  transition: $transition-fast;
                }
              }
            }
          }

          .headRow {
            .box {
              font-family: $font-main;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .categoriesPageWrapper {
    .categoriesPageContent {
      max-width: 1100px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .categoriesPageWrapper {
    .categoriesPageContent {
      .categoryManipulation {
        .searchBlock {
          .searchButtons {
            max-width: 150px;
          }
        }
      }
      .categoryTableWrapper {
        flex-direction: column;

        .categoryOverflow {
          overflow-x: auto;

          .categoryTable {
            min-width: 1000px;

            .tableRow {
              .action {
                max-width: 80px;
              }

              .icon {
                max-width: 100px;
              }

              .name {
                max-width: 300px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .categoriesPageWrapper {
    .categoriesPageContent {
      .categoryManipulation {
        flex-direction: column;
        gap: 0;
        margin-bottom: 15px;
        .searchBlock {
          width: 100%;
          flex-direction: column;
          padding: 15px 15px 0 15px;
          gap: 15px;
          border-radius:10px 10px  0 0 ;


          label {
            max-width: unset;
            height: 40px;

            input {
              font-size: 14px;
            }
          }

          .searchButtons {
            button {
              max-width: unset;
              height: 40px;
              font-size: 12px;
            }
          }

        }

        .addCategory {
          padding: 15px;
          width: 100%;
          justify-content: start;
          max-width: unset;
          border-radius: 0 0 10px 10px;

          button {
            height: 40px;
            font-size: 12px;
            max-width: 150px;
          }
        }
      }
    }
  }
}

