@import "../../../../../Animations/Animations.module";
@import "../../../../../Variables/variables.module";

.adminStaffWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 15px 120px 15px;
  background-color: $color-main;
  min-height: 100vh;

  .adminStaffContent {
    display: flex;
    max-width: 1300px;
    width: 100%;
    flex-direction: column;

    .staffContainer {
      display: flex;
      width: 100%;
      flex-direction: column;


      .staffManagement {
        display: flex;
        width: 100%;
        background-color: $color-secondary;
        margin-bottom: 25px;
        border-radius: 10px 10px 0 0;
        border: 1px solid $color-border;
        padding: 15px;
        gap: 25px;

        .block {
          width: 100%;
          display: flex;
          gap: 25px;
          padding: 15px 0;

          &:nth-child(2) {
            width: 30%;
          }

          label {
            display: flex;
            width: 100%;
            height: 48px;
            justify-content: end;

            input {
              width: 100%;
              height: 100%;
              background-color: $color-border;
              padding: 0 10px;
              display: inline-flex;
              align-items: center;
              outline: 0;
              border: 1px solid $color-white;
              color: $color-white;
              font-family: $font-alternative;
              border-radius: 5px;
            }

            select {
              width: 100%;
              outline: 0;
              background-color: $color-border;
              border: 1px solid $color-white;
              color: $color-white;
              font-family: $font-alternative;
              padding: 0 10px;
              border-radius: 5px;
            }

            .button {
              width: 100%;
              border-radius: 5px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              gap: 15px;
              color: $color-white;
              font-family: $font-alternative;
              background-color: $color-orange;
              outline: 0;
              border: 0;
              font-size: 17px;
              cursor: pointer;
              transition: $transition-fast;
            }

            .resetBtn {
              background-color: $color-border;
              border: 1px solid $color-white;

              &:hover {
                background-color: $color-orange;
                border-color: transparent;
              }
            }
          }
        }
      }

      .staffTableWrapper {
        display: flex;
        width: 100%;
        position: relative;
        background-color: $color-secondary;
        .loader {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          z-index: 2;
          svg {
            color: $color-gray;
            font-size: 50px;
            animation: rotateAnimation 1s linear infinite;
          }
        }


        .overflowBlock {
          display: flex;
          width: 100%;
          min-height: 300px;



          .staffTable {
            display: flex;
            width: 100%;
            background-color: $color-secondary;
            border: 1px solid $color-border;
            flex-direction: column;
            border-bottom: transparent;
            position: relative;

            .tableRow {
              display: flex;
              width: 100%;
              align-items: center;
              border-bottom: 1px solid $color-border;

              .tableCell {
                display: flex;
                padding: 8px 16px;
                color: $color-gray;
                font-family: $font-main;
                font-size: 16px;

                span {
                  font-family: $font-alternative;
                  font-size: 14px;
                }
              }

              .name {
                max-width: 180px;
                width: 100%;
                justify-content: start;
              }

              .email {
                max-width: 263px;
                width: 100%;
              }

              .date {
                max-width: 180px;
                width: 100%;
                white-space: nowrap;

              }
              .role {
                max-width: 100px;
                width: 100%;
                justify-content: center;
              }

              .status {
                max-width: 126px;
                width: 100%;
                justify-content: center;

                span {
                  background-color: darkgreen;
                  color: $color-white;
                  border-radius: 5px;
                  width: 60px;
                  height: 20px;
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 12px;
                  transition: $transition-fast;
                }
              }

              .publish {
                max-width: 135px;
                width: 100%;
                justify-content: center;
              }

              .action {
                max-width: 80px;
                width: 100%;
                justify-content: end;
                gap: 10px;
                margin-left: auto;

                span {
                  cursor: pointer;
                  &:hover {
                    svg {
                      color: $color-red;
                    }
                  }
                  svg {
                    transition: $transition-fast;
                    font-size: 22px;
                  }
                }
              }

            }

          }

        }

      }

    }

  }
}

@media screen and (max-width: 1440px) {
  .adminStaffWrapper {
    .adminStaffContent {
      max-width: 1100px;

      .staffContainer {
        .staffTableWrapper {
          .overflowBlock {
            .staffTable {
              .tableRow {
                .tableCell {
                  span {
                    font-size: 13px;
                  }
                }
                .name {
                  max-width: 170px;
                }
                .date {
                  max-width: 145px;
                }
                .publish {
                  max-width: 90px;

                }
                .status {
                  max-width: 92px;
                }
                .role {
                  justify-content: center;
                  max-width: 80px;
                }

              }
            }
          }

        }
      }

    }
  }
}

@media screen and (max-width: 1150px) {
  .adminStaffWrapper {
    padding: 100px 15px 120px 15px;

    .adminStaffContent {
      .staffContainer {
        .staffTableWrapper {
          flex-direction: column;
          .overflowBlock {
            .staffTable {
              .tableRow {
                .action {
                  max-width: 60px;
                }
                .publish {
                  max-width: 70px;
                }
                .status {
                  max-width: 70px;
                }

                .tableCell {
                  padding: 4px 8px;
                }
                .name {
                  max-width: 170px;
                }
                .email {
                  max-width: 320px;
                }
                .date {
                  max-width: 125px;
                }
              }
            }
          }

        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .adminStaffWrapper {
    .adminStaffContent {
      height: auto;
      .staffContainer {
        .staffManagement {
          gap: 15px;
          .block {
            gap: 15px;
          }
        }
        .staffTableWrapper {
          .overflowBlock {
            overflow-x: auto;
            .staffTable {
              min-width: 1000px;
            }
          }

        }
      }
    }
  }
}


@media screen and (max-width: 700px) {
  .adminStaffWrapper {
    .adminStaffContent {
      .staffContainer {
        .staffManagement {
          flex-direction: column-reverse;
          .block {
            padding: 0;
            flex-direction: column;
            width: 100%!important;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .adminStaffWrapper {
    .adminStaffContent {
      .staffContainer {
        .staffManagement {
          .block {
            flex-direction: column;
          }
        }
      }
    }
  }
}