@import "../../../../../Animations/Animations.module";
@import "../../../../../Variables/variables.module";

.adminProductWrapper {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  z-index: 100000;
  padding: 200px 15px 0 160px;

  .adminProductContent {
    display: flex;
    max-width: 1000px;
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    .productBlock {
      display: flex;
      width: 100%;
      gap: 25px;
      justify-content: space-between;
      align-items: center;

      .productImage {
        width: 275px;
        height: 275px;

        img {
          width: 100%;
          border: 2px dashed $color-white;
        }
      }

      .productTitle {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: $color-gray !important;
        overflow-y: auto;


        .productStatus {
          display: inline-flex;
          gap: 10px;
          color: $color-gray;
          font-family: $font-main;
          align-items: center;
          font-size: 18px;

          p {
            font-family: $font-alternative;
            padding: 3px 10px;
            background-color: green;
            color: $color-white;
            border-radius: 5px;
            font-size: 15px;
          }
        }

        .productInfo {
          display: flex;
          .price {
            display: inline-flex;
            gap: 10px;
            h2 {
              &:nth-child(2) {
                text-decoration: line-through;
                color: $color-orange;
              }
            }
          }

          h2 {
            font-size: 32px;
            font-family: $font-main;
            line-height: 25px;
          }
        }

        .quantityBlock {
          display: flex;
          gap: 15px;
          align-items: center;

          span {
            font-family: $font-alternative;
            padding: 3px 10px;
            background-color: green;
            color: $color-white;
            border-radius: 5px;
            font-size: 15px;
          }

          p {
            font-size: 20px;
            font-family: $font-main;
          }
        }

        .description {
          font-size: 16px;
          font-family: $font-alternative;
        }

        .category {
          display: inline-flex;
          gap: 10px;
          align-items: center;
          font-family: $font-main;
          font-size: 20px;

          p {
            font-family: $font-alternative;
            font-size: 16px;
          }
        }
        .back {
          font-size: 20px;
          font-family: $font-main;
          height: 40px;
          width: 100%;
          max-width: 200px;
          background-color: $color-orange;
          color: $color-white;
          border-radius: 5px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: 1px solid $color-white;
          outline: 0;
          transition: background-color $transition-fast;
          &:hover {
            background-color: #9d2800;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .adminProductWrapper {
    .adminProductContent {
      max-width: unset;
      .productBlock {
        justify-content: center;

      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .adminProductWrapper {
    padding: 100px 15px 0 160px;

    height: auto;
    .adminProductContent {
      height: 420px;

      .productBlock {
        flex-direction: column;
        align-items: start;
        margin-top: 0;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .adminProductWrapper {
    background: black;
    padding: 25px 15px 25px 15px;

    height: auto;
    .adminProductContent {
      .productBlock {
        flex-direction: column;
        align-items: start;
        margin-top: 0;
      }
    }
  }
}