@import "../../../../Variables/variables.module";
@import "../../../../Animations/Animations.module";


.checkoutPageWrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;

  .checkoutSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: $color-yellow;
    padding: 30px 15px 120px 15px;
    .pageLoader{
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      svg {
        font-size: 45px;
        color: $color-border;
        animation: rotateAnimation 1s linear infinite;
      }
    }

    .checkoutContent {
      display: flex;
      width: 100%;
      max-width: 1290px;
      flex-direction: column;

      .emptyCart {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 50px;

        p {
          font-size: 17px;
          font-family: $font-main;
        }
      }

      .checkoutMain {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .headingDropdown {
          display: flex;
          width: 100%;
          max-width: 980px;
          justify-content: center;
          flex-direction: column;
          padding-bottom: 50px;
          align-items: center;

          .titleBlock {
            width: 100%;
            display: flex;
            margin-bottom: 48px;
            flex-direction: column;
            align-items: center;

            p {
              font-size: 17px;
              font-family: $font-main;
              color: $color-black;

              span {
                transition: $transition-fast;
                cursor: pointer;

                &:hover {
                  color: $color-orange;
                }
              }
            }

            .dropDownCoupon {
              display: flex;
              width: 100%;
              flex-direction: column;
              align-items: center;
              height: 0;
              transition: $transition-medium;
              overflow: hidden;
              border: 0;

              p {
                padding-top: 23px;
                font-size: 17px;
                font-family: $font-alternative;
                color: $color-black;
                text-align: center;
              }

              &.dropDownActive {
                margin: 48px auto 0 auto;
                height: auto;

              }
            }
          }
        }

        .checkoutForm {
          display: flex;
          width: 100%;
          justify-content: space-between;
          //LEFT
          .checkoutLeft {
            display: flex;
            width: 100%;
            max-width: 634px;
            flex-direction: column;

            > h3 {
              font-size: 47px;
              color: $color-dark-theme;
              font-family: $font-main;
              font-weight: 400;
              padding-bottom: 40px;
            }

            .formRow {
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              padding-bottom: 45px;

              .formShortBlock {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 302px;

                p {
                  color: $color-black;
                  font-family: $font-main;
                  font-size: 18px;
                  margin-bottom: 15px;

                  span {
                    font-size: 22px;
                    color: $color-orange;
                  }
                }

                input {
                  width: 100%;
                  padding: 8px 0;
                  background-color: transparent;
                  border: 0;
                  outline: 0;
                  border-bottom: 1px solid $color-border;
                  font-family: $font-alternative;
                }
              }

              .formLongBlock {
                display: flex;
                width: 100%;
                flex-direction: column;

                p {
                  color: $color-black;
                  font-family: $font-main;
                  font-size: 18px;
                  margin-bottom: 15px;

                  span {
                    font-size: 22px;
                    color: $color-orange;
                  }
                }

                select {
                  width: 100%;
                  padding: 8px 0;
                  background-color: $color-yellow;
                  border: 0;
                  outline: 0;
                  border-bottom: 1px solid $color-border;
                  font-family: $font-alternative;
                  font-size: 15px;

                }

                input {
                  width: 100%;
                  padding: 8px 0;
                  background-color: transparent;
                  border: 0;
                  outline: 0;
                  border-bottom: 1px solid $color-border;
                  font-family: $font-alternative;

                  &::placeholder {
                    color: $color-dark-theme;
                  }
                }
              }
            }

            .additionalInfo {
              display: flex;
              flex-direction: column;

              h3 {
                font-size: 35px;
                margin-bottom: 35px;
                font-weight: 400;
                color: $color-black;
                font-family: $font-main;
              }

              label {
                display: flex;
                width: 100%;
                flex-direction: column;
                font-size: 18px;
                color: $color-dark-theme;
                font-family: $font-main;
                gap: 10px;

                textarea {
                  height: 140px;
                  padding: 8px 0;
                  border: 0;
                  outline: 0;
                  background-color: transparent;
                  border-bottom: 1px solid $color-border;
                  font-family: $font-alternative;
                  font-size: 15px;
                  resize: none;

                  &::placeholder {
                    color: $color-border;
                  }
                }

              }
            }
          }

          //RIGHT
          .checkoutRight {
            display: flex;
            width: 100%;
            max-width: 516px;
            flex-direction: column;

            h3 {
              font-size: 35px;
              color: $color-dark-theme;
              font-family: $font-main;
              font-weight: 400;
              padding-bottom: 35px;

              &.payment {
                padding-top: 35px;
              }
            }

            .orderContainer {
              display: flex;
              width: 100%;
              flex-direction: column;
              background-color: $color-white;
              padding: 18px 50px;

              .orderRow {
                display: flex;
                width: 100%;
                justify-content: space-between;
                font-family: $font-main;
                font-size: 18px;
                border-bottom: 1px solid $color-light-border;
                padding: 25px 0;

                p {
                  display: inline-flex;
                  gap: 5px;
                }
              }
            }

            .paymentContainer {
              display: flex;
              width: 100%;
              flex-direction: column;
              background-color: $color-white;
              padding: 18px 50px;

              .paymentTypeRow {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 5px;
                padding: 23px 0;
                border-bottom: 1px solid $color-light-border;
                .paymentTypeItem {
                  display: inline-flex;
                  align-items: center;
                  font-size: 17px;
                  color: $color-black;
                  font-family: $font-main;
                  gap: 10px;
                  input {
                    margin-bottom: 2px;
                  }
                  p {
                    font-size: 15px;
                    color: $color-black;
                    font-family: $font-alternative;
                  }
                }
              }

              .paymentPrivacyPolicy {
                display: flex;
                width: 100%;
                flex-direction: column;
                padding: 23px 0;

                p {
                  font-size: 14px;
                  font-family: $font-alternative;
                  margin-bottom: 25px;
                  line-height: 24px;

                  a {
                    font-family: $font-alternative;
                    color: $color-orange;
                    position: relative;

                    &:after {
                      content: "";
                      position: absolute;
                      height: 1px;
                      width: 100%;
                      background-color: $color-orange;
                      bottom: -2px;
                      left: 0;
                    }
                  }

                }

                button {
                  text-align: center;
                  font-size: 18px;
                  font-family: $font-main;
                  color: $color-white;
                  background-color: $color-orange;
                  border: 0;
                  outline: 0;
                  cursor: pointer;
                  width: 186px;
                  height: 56px;
                  transition: $transition-fast;
                  svg {
                    font-size: 20px;
                    color: $color-white;
                    animation: rotateAnimation 1s linear infinite;
                  }

                  &:hover {
                    background-color: #c03202;
                  }
                }
              }
            }

          }

        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .checkoutPageWrapper {
    .checkoutSection {
      padding: 30px 15px 100px 15px;

      .checkoutContent {
        max-width: 1100px;
        .checkoutMain {
          .headingDropdown {
            max-width: 770px;
            .titleBlock {
            }
          }
          .checkoutForm {
            .checkoutLeft {
              >h3 {
                font-size: 38px;
                padding-bottom: 30px;
              }
              max-width: 520px;
              .formRow {
                .formShortBlock {
                  max-width: 245px;
                }
              }
              .additionalInfo {
                h3 {
                  font-size: 28px;
                  margin-bottom: 25px;
                }
              }
            }
            .checkoutRight {
              max-width: 420px;
              h3 {
                font-size: 28px;
                padding-bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .checkoutPageWrapper {
    .checkoutSection {
      .checkoutContent {
        max-width: unset;
        padding: 0 15px;
        .checkoutMain {
          .headingDropdown {
            max-width: 600px;
            padding-bottom: 25px;
            .titleBlock {
              margin-bottom: 25px;
              .dropDownCoupon {
                &.dropDownActive {
                  margin-top: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .checkoutPageWrapper {
    .checkoutSection {
      .checkoutContent {
        .checkoutMain {
          .checkoutForm {
            gap: 40px;
            .checkoutLeft {
              >h3 {
                font-size: 28px;
                padding-bottom: 25px;
              }
              max-width: 520px;
              .formRow {
                gap: 25px;
                padding-bottom: 30px;
                .formShortBlock {
                  max-width: 245px;
                  p {
                    margin-bottom: 10px;

                  }
                }
                .formLongBlock {
                  p {
                    margin-bottom: 10px;
                  }
                }
              }
            }
            .checkoutRight {
              max-width: 380px;
              h3 {
                font-size: 22px;
                padding-bottom: 25px;
              }
              .orderContainer {
                padding: 12px 30px;
                .orderRow {
                  padding: 15px 0;
                }
              }
              .paymentContainer {
                padding: 12px 30px;
                .paymentTypeRow {
                  padding: 15px 0;
                }
                .paymentPrivacyPolicy {
                  padding: 15px 0;
                  p {
                    margin-bottom: 15px;
                  }
                }

              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .checkoutPageWrapper {
    .checkoutSection {
      padding: 30px 15px 50px 15px;

      .checkoutContent {
        padding: 0;
        .checkoutMain {
          .headingDropdown {
            padding-bottom: 25px;
            max-width: unset;
            .titleBlock {
              margin-bottom: 25px;
            }
          }
          .checkoutForm {
            flex-direction: column;
            margin-top: 25px;
            .checkoutLeft {
              max-width: unset;
              .formRow {
                padding-bottom: 15px;
                .formShortBlock {
                  max-width: 50%;
                  p {
                    font-size: 16px;
                  }
                }
                .formLongBlock {
                  p {
                    font-size: 16px;
                  }
                }
              }
              .additionalInfo {
                margin-top: 15px;
                h3 {
                  font-size: 22px;
                  margin-bottom: 15px;
                }
                label {
                  font-size: 16px;
                  textarea {
                    height: 85px;
                  }
                }
              }
            }
            .checkoutRight {
              max-width: unset;
              .paymentContainer {
                .paymentTypeRow{
                  p {
                    font-size: 16px;
                  }
                }
                .paymentPrivacyPolicy{
                  align-items: center;

                  button {
                    width: 250px;
                    height: 40px;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .checkoutPageWrapper {
    .checkoutSection {
      .checkoutContent {
        .checkoutMain {
          .headingDropdown {
            padding-bottom: 0;
          }
          .checkoutForm {
            .checkoutRight {
              .orderContainer {
                .orderRow{
                  padding: 10px 0;
                  p {
                    font-size: 16px;
                  }
                }
              }
              .paymentContainer {
                .paymentPrivacyPolicy {
                  button {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}