@import "../../../../Variables/variables.module";
@import "../../../../Animations/Animations.module";

//SIDE MENU CONTAINER STYLES
.rightMenuWrapper {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  height: 100vh;
  max-width: 388px;
  width: 100%;
  background-color: $color-darkgray;
  z-index: 100000;
  transition: 0.5s ease;
  transform-origin: right;
  transform: scaleX(0);
  pointer-events: none;
  padding: 55px 35px 40px;

  &.rightMenuActive {
    transform: scaleX(1) !important;
    pointer-events: auto !important;
  }

  .rightMenuContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;

    .rightMenuHeader {
      display: flex;
      width: 100%;
      position: relative;

      a {
        > img {
          width: 70px;
          height: 71px;
          transition: $transition-fast;

          &:hover {
            animation: logoRotate 1s ease;
          }
        }
      }

      .closeRightMenu {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;

        &:hover svg {
          transform: rotate(270deg);
        }

        svg {
          font-size: 28px;
          color: $color-white;
          transition: 0.5s ease;

        }
      }
    }

    .rightMenuSocial {
      display: flex;
      flex-direction: column;
      gap: 35px;

      > a {
        display: inline-flex;
        gap: 20px;
        color: $color-white;
        font-family: $font-alternative;
        transition: $transition-fast;

        &:hover {
          color: #a9a7a7;
        }
        svg {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
    }

    .rightMenuFooter {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 12px;
      color: $color-white;
      border-top: 1px solid $color-border;
      padding-top: 40px;

      a {
        letter-spacing: 0.58px;
        font-size: 24px;
        color: $color-white;

        &:nth-child(2) {
          color: $color-gray;
          font-family: $font-alternative;
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .rightMenuWrapper {
    .rightMenuContent {
      .rightMenuSocial {
        gap: 25px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .rightMenuWrapper {
    width: 100vw;
    max-width: 100%;
  }
}
