@import "../../../../Variables/variables.module";
@import "../../../../Animations/Animations.module";

.registerPageWrapper {
  width: 100%;
  flex-direction: column;
  .registerPageMain {
    width: 100%;
    flex-direction: column;
  }
}