@import "../../../../Variables/variables.module";
@import "../../../../Animations/Animations.module";

.loginPageWrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;

  .loginPageSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: $color-yellow;
    align-items: center;

    .loginPageContent {
      display: flex;
      max-width: 1300px;
      width: 100%;
      padding: 220px 15px 90px 15px;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      h1 {
        font-size: 55px;
        color: $color-black;
        font-family: $font-main;
        font-weight: 400;
      }

      svg {
        font-size: 25px;
        color: $color-black;
      }

    }
  }
}