@import "../../../../../Animations/Animations.module";
@import "../../../../../Variables/variables.module";


.ordersWrapper {
  display: flex;
  width: 100%;
  position: relative;

  .blockTitleContent {
    width: 100%;
    display: flex;
    border: 1px solid $color-border;
    overflow-x: hidden;
    min-height: 300px;
    flex-direction: column;
    .ordersLoader {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 250px;
      svg {
        font-size: 45px;
        color: $color-gray;
        animation: rotateAnimation 1s linear infinite;
      }
    }

    .tableBlock {
      display: flex;
      width: 100%;
      height: min-content;
      flex-direction: column;
      .tableRow {
        display: flex;
        width: 100%;
        align-items: center;
        font-family: $font-alternative;
        color: $color-white;
        font-size: 12px;
        border-bottom: 1px solid $color-border;

        &.tableHeading {
          background-color: $color-secondary;
          border-color: transparent;

        }

        .tableBox {
          padding: 8px 16px;
          display: flex;
        }

        .invoiceNumber {
          max-width: 152px;
          width: 100%;
          text-transform: uppercase;
        }

        .orderTime {
          max-width: 250px;
          width: 100%;
        }

        .customerName {
          max-width: 200px;
          width: 100%;
        }

        .method {
          max-width: 125px;
          width: 100%;
          text-transform: capitalize;
          justify-content: center;

        }

        .amount {
          max-width: 125px;
          width: 100%;
          justify-content: center;

        }

        .status {
          max-width: 135px;
          width: 100%;
          margin-left: auto;
          justify-content: center;


          .statusElement {
            padding: 5px 10px;
            max-width: 80px;
            width: 100%;
            background-color: $color-orange;
            border-radius: 5px;
            color: $color-white;
            text-align: center;
            font-family: $font-alternative;
            font-size: 12px;
            text-transform: capitalize;
          }

        }

        .action {
          max-width: 205px;
          width: 100%;
          justify-content: center;

          select {
            background-color: $color-secondary;
            color: $color-white;
            padding: 3px;
            outline: 0
          }

        }

        .viewInvoice {
          max-width: 165px;
          width: 100%;
          justify-content: end;
          margin-left: auto;

          .view {
            cursor: pointer;

            svg {
              color: $color-white;
              font-size: 20px;
            }
          }

        }
      }
    }

  }

}


@media screen and (max-width: 1440px) {
  .ordersWrapper {
    .blockTitleContent {
      .tableBlock {
        .tableRow {
          .viewInvoice {
            max-width: 50px;
          }

          .invoiceNumber {
            max-width: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .ordersWrapper {
    flex-direction: column;

    .blockTitleContent {
      flex-direction: column;

      .tableBlock {
        .tableRow {
          .method {
            max-width: 85px;
          }

          .status {
            max-width: 125px;
          }

          .action {
            max-width: 130px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {

  .ordersWrapper {
    .blockTitleContent {
      overflow-x: auto;

      .tableBlock {
        width: 920px;
        max-width: unset;
      }
    }

  }
}