@import "../../../../Variables/variables.module";
@import "../../../../Animations/Animations.module";

.buttonLoader {
    font-size: 22px;
    color: $color-black!important;
    animation: rotateAnimation 1s linear infinite;
}
.productSingleWrapper {
  display: flex;
  width: 100vw;
  flex-direction: column;
  .pageLoader {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-yellow;
    svg {
      font-size: 45px;
      color: $color-black;
      animation: rotateAnimation 1s linear infinite;
    }
  }

  .reviewSection {
    display: flex;
    width: 100%;
    background-color: $color-yellow;
    padding: 0 15px;
    justify-content: center;

    .reviewSectionContent {
      display: flex;
      max-width: 1300px;
      width: 100%;
      flex-direction: column;

      .reviewHeader {
        width: 100%;
        display: flex;
        gap: 5px;
        margin-bottom: 55px;

        .reviewHeaderBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          height: 62px;
          width: 278px;
          background-color: $color-white;
          border-top: 2px solid transparent;
          transition: $transition-fast;

          p {
            font-family: $font-main;
            font-size: 16px;
          }

          &:hover {
            background-color: transparent;
            border-top: 2px solid $color-black;
          }

          &.btnActive {
            background-color: transparent !important;
            border-color: $color-black !important;
          }
        }
      }

      .productDescription {
        display: flex;
        width: 100%;
        padding: 20px 0 50px 0;

        p {
          font-size: 17px;
          font-family: $font-alternative;
          line-height: 30px;
        }
      }

      .reviewContentMain {
        display: flex;
        width: 100%;
        padding-bottom: 50px;

        .reviewContentLeft {
          display: flex;
          width: 50%;
          flex-direction: column;

          .reviewLeftHeading {
            display: flex;
            margin-bottom: 25px;

            p {
              font-family: $font-main;
              font-size: 25px;
            }
          }

          .reviewLeftReviewBlock {
            display: flex;
            width: 100%;
            flex-direction: column;

            .reviewerCard {
              display: flex;
              gap: 20px;
              padding: 10px 0;

              .reviewerImg {
                img {
                  width: 60px;
                  height: 60px;
                  object-fit: cover;
                  object-position: top;
                }
              }

              .reviewerTittle {
                display: flex;
                flex-direction: column;
                gap: 8px;

                span {
                  display: inline-flex;
                  font-family: $font-main;
                  font-size: 19px;
                  align-items: center;
                  gap: 5px;

                  p {
                    font-family: $font-alternative;
                    font-size: 13px;

                  }
                }

                p {
                  font-size: 17px;
                  font-family: $font-alternative;
                }

                .reviewerProductRating {
                  display: inline-flex;
                  align-items: center;
                  gap: 4px;

                  svg {
                    color: $color-orange;
                  }
                }
              }
            }
          }
        }

        .reviewContentRight {
          display: flex;
          width: 50%;
          flex-direction: column;

          .reviewRightHeading {
            display: flex;
            margin-bottom: 40px;
            flex-direction: column;
            gap: 20px;

            b {
              font-family: $font-main;
              font-size: 25px;
              font-weight: 400;
            }

            p {
              font-family: $font-alternative;
              font-size: 17px;
            }
          }

          .reviewPostingFormWrapper {
            display: flex;
            width: 100%;

            form {
              display: flex;
              flex-direction: column;
              gap: 30px;
              width: 100%;

              label {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                font-family: $font-main;
                font-size: 17px;

                .borderInput {
                  width: 100%;
                  font-size: 14px;
                  font-family: $font-alternative;
                  outline: 0;
                  border: 0;
                  border-bottom: 1px solid $color-black;
                  background-color: transparent;
                  padding-bottom: 10px;
                }

                .productRating {
                  display: flex;
                  gap: 5px;

                  svg {
                    color: $color-orange;
                    cursor: pointer;
                  }
                }

                textarea {
                  height: 80px;
                  background-color: transparent;
                  border: 0;
                  border-bottom: 1px solid $color-black;
                  resize: unset;
                  outline: 0;
                  font-size: 14px;
                  font-family: $font-alternative;
                }

                .reviewAgreement {
                  display: inline-flex;
                  align-items: center;
                  gap: 5px;

                  input {
                    margin-bottom: 3px;
                    cursor: pointer;

                  }

                  p {
                    font-family: $font-alternative;
                    font-size: 14px;

                    a {
                      font-family: $font-alternative;
                      font-size: 14px;
                      color: $color-black;
                      text-decoration: underline;

                    }
                  }
                }

                .reviewSendBtn {
                  background-color: $color-orange;
                  font-family: $font-main;
                  font-size: 18px;
                  color: $color-white;
                  width: 156px;
                  height: 56px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  cursor: pointer;
                  outline: 0;
                  border: 0;
                  transition: $transition-fast;

                  &:hover {
                    background-color: #9d2800;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .relatedProductsSection {
    display: flex;
    width: 100%;
    padding: 50px 15px 100px 15px;
    justify-content: center;
    background-color: $color-yellow;

    .relatedProductsContent {
      max-width: 1300px;
      width: 100%;
      display: flex;
      flex-direction: column;

      .noRelated {
        font-size: 19px;
        font-family: $font-alternative;
      }

      .relatedProductsHeading {
        width: 100%;
        display: flex;
        margin-bottom: 50px;

        h1 {
          font-family: $font-main;
          font-size: 44px;
          font-weight: 400;
        }
      }

      .relatedProductsCards {
        display: flex;
        width: 100%;
        gap: 35px;

        .relatedLoading {
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            font-size: 45px;
            color: $color-black;
            animation: rotateAnimation 1s linear infinite;
          }
        }

        .relatedProductsCard {
          display: flex;
          max-width: 410px;
          width: 100%;
          flex-direction: column;

          .relatedProductImg {
            display: flex;
            width: 100%;
            height: 400px;
            position: relative;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            img {
              position: absolute;
              left: 0;
              top: 0;
              width: 90%;
              transition: width $transition-fast;
            }

            &:hover img {
              width: 100%;
            }

            &:hover .relatedProductsManipulation {
              opacity: 1;
              pointer-events: auto;
              transition-delay: 0.3s;
              left: 50%;
            }

            .relatedWithSale {
              text-align: center;
              padding: 4px 13px;
              top: 30px;
              left: 0;
              display: none;
              position: absolute;
              background-color: $color-orange;
              color: $color-white;
              font-family: $font-main;
              font-size: 14px;
              z-index: 10;

              &.hasSale {
                display: flex !important;
              }
            }

            .outOfStock {
              text-align: center;
              padding: 4px 25px;
              top: 0;
              left: 0;
              display: flex;
              position: absolute;
              background-color: $color-black;
              color: $color-white;
              font-family: $font-main;
              font-size: 14px;
              z-index: 10;

            }

            .relatedProductsManipulation {
              display: flex;
              gap: 5px;
              align-items: center;
              position: absolute;
              left: 45%;
              top: 50%;
              transform: translate(-50%, -50%);
              pointer-events: none;
              opacity: 0;
              transition: $transition-fast;
              z-index: 3;

              .relatedManipulationItems {
                display: flex;
                padding: 12px;
                align-items: center;
                justify-content: center;
                background-color: $color-white;
                cursor: pointer;
                transition: $transition-fast;
                z-index: 3;

                a {
                  display: flex;
                  color: $color-black;
                }

                &:hover {
                  margin-bottom: 10px;
                }

                &:hover svg {
                  color: $color-orange;
                }

                svg {
                  font-size: 20px;
                  transition: $transition-fast;
                }
              }
            }

          }

          .relatedProductTittle {
            display: flex;
            flex-direction: column;
            gap: 10px;
            z-index: 5;

            .relatedProductName {
              font-family: $font-main;
              font-size: 19px;
              font-weight: 400;
              transition: $transition-fast;
              cursor: pointer;
              color: $color-black;

              &:hover {
                color: $color-orange;
              }
            }

            span {
              display: inline-flex;
              font-family: $font-main;
              font-size: 18px;
              gap: 5px;

            }
          }

          .relatedProductRating {
            display: flex;
            gap: 4px;
          }
        }
      }
    }
  }
}

//PRODUCT SINGLE MEDIA STYLES

@media screen and (max-width: 1300px) {
  .productSingleWrapper {
    .reviewSection {
      .reviewSectionContent {
        .reviewHeader {
          margin-bottom: 25px;

          .reviewHeaderBtn {
            height: 50px;
            width: 220px;
          }
        }

        .productDescription {
          p {
            line-height: 25px;
          }

        }
      }
    }
    .relatedProductsSection {
      padding: 25px 15px 80px 15px;
      .relatedProductsContent {
        .relatedProductsHeading {
          margin-bottom: 25px;

          h1 {
            font-size: 35px;
          }
        }
        .relatedProductsCards {
          .relatedProductsCard {
            gap: 10px;
            .relatedProductImg {
              height: 360px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .productSingleWrapper {
    .reviewSection {
      .reviewSectionContent {
        .reviewContentMain {
          gap: 20px;
        }
      }
    }
    .relatedProductsSection {
      .relatedProductsContent {
        .relatedProductsCards {
          .relatedProductsCard {
            .relatedProductImg {
              height: 310px;
            }
          }
        }
      }
    }

  }
}
@media screen and (max-width: 1000px) {
  .productSingleWrapper {
    .relatedProductsSection {
      .relatedProductsContent {
        .relatedProductsCards {
          flex-wrap: wrap;
          .relatedProductsCard {
            align-items: center;
            max-width: 45%;
            .relatedProductImg {
              height: 400px;
              img {
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
        }
      }
    }

  }
}
@media screen and (max-width: 900px) {
  .productSingleWrapper {
    .relatedProductsSection {
      .relatedProductsContent {
        .relatedProductsCards {
          .relatedProductsCard {
            .relatedProductImg {
              height: 370px;
            }
          }
        }
      }
    }

  }
}

@media screen and (max-width: 800px) {
  .productSingleWrapper {
    .reviewSection {
      .reviewSectionContent {
        .reviewHeader {
          margin-bottom: 15px;

          .reviewHeaderBtn {
            height: 50px;
            width: 50%;
          }
        }

        .productDescription {
          p {
            font-size: 14px;
            line-height: 25px;
          }
        }

        .reviewContentMain {
          gap: 10px;
          flex-direction: column;

          .reviewContentLeft {
            width: 100%;
          }

          .reviewContentRight {
            width: 100%;

            .reviewRightHeading {
              p {
                font-size: 14px;
              }
            }

            .reviewPostingFormWrapper {
              form {
                label {
                  font-size: 15px;

                  .reviewSendBtn {
                    font-size: 14px;
                    width: 100px;
                    height: 40px;
                    margin: auto;
                  }
                }
              }
            }
          }
        }
      }
    }

    .relatedProductsSection {
      padding: 0 15px 50px 15px;

      .relatedProductsContent {
        .relatedProductsCards {
          .relatedProductsCard {
            max-width: 330px;
            width: 330px;
            .relatedProductImg {
              height: 320px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 725px) {
  .productSingleWrapper {
    .relatedProductsSection {
      .relatedProductsContent {
        .relatedProductsCards {
          flex-wrap: nowrap;
          flex-direction: column;
          align-items: center;
          .relatedProductsCard {
            max-width: unset;
            width: 450px;
            .relatedProductImg {
              height: 415px;
            }
            .relatedProductTittle {
              a {
                text-align: center;
              }
              span {
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .productSingleWrapper {
    .relatedProductsSection {
      .relatedProductsContent {
        .relatedProductsCards {
          .relatedProductsCard {
            width: 300px;
            .relatedProductImg {
              height: 280px;
            }
          }
        }
      }
    }
  }
}
