@import "../../variables.module";

.siteHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: black;
  height: 107px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  .headerContent {
    display: flex;
    padding: 10px 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .headerLeft {
      display: flex;
      align-items: center;

      .headerLogo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-height: 88px;
        }
      }

      .headerNavigation {
        display: flex;
        margin-left: 145px;

        .navigationItems {
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            a:after {
              width: 100%;
            }
          }
          a {
            position: relative;
            padding: 16px;
            font-size: 18px;
            color: white;

            &:after {
              content: "";
              display: block;
              position: relative;
              z-index: 1;
              top: auto;
              bottom: -4px;
              left: 0;
              transform: none;
              width: 0;
              height: 2px;
              transition: all 0.2s ease;
              background-color: $color-white;
            }
          }
        }
      }
    }

  }
}