@import "../../../../Variables/variables.module";
@import "../../../../Animations/Animations.module";


.productListWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $color-yellow;

  .productListMain {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;

    .allProductsSection {
      display: flex;
      width: 100%;
      justify-content: center;
      padding: 25px 15px 120px 15px;

      .allProductsContent {
        max-width: 1290px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        //LEFT BLOCK
        .leftBlockProducts {
          max-width: 840px;
          width: 100%;
          height: min-content;
          display: flex;
          flex-direction: column;
          .leftBlockSorting {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            font-family: $font-alternative;

            p {
              font-size: 18px;
              color: $color-black;
              line-height: 22px;
            }

          }
          .productsLoading {
            width: 100%;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              font-size: 45px;
              color: rgb(12, 15, 38);
              animation: rotateAnimation 1s linear infinite;
            }
          }
          .leftAllProducts {
            display: flex;
            width: 100%;
            margin-top: 50px;
            flex-wrap: wrap;
            position: relative;
            .productCard {
              display: flex;
              flex-direction: column;
              width: 50%;
              padding: 0 30px 35px 0;
              position: relative;
              &.loadingAnimation {
                animation: fadeAnimation 0.5s linear infinite;
              }
              .productLoader {
                position: absolute;
                left: 0;
                top: 0;
                width: 90%;
                height: 95%;
                z-index: 50;
                display: flex;
                align-items: center;
                justify-content: center;
                svg {
                  color: $color-black;
                  animation: rotateAnimation 1s linear infinite;
                  font-size: 80px;
                }
              }
              .productOnSale {
                position: absolute;
                left: 10px;
                top: 30px;
                background-color: $color-orange;
                color: $color-white;
                font-family: $font-main;
                font-size: 14px;
                padding: 3px 15px;
                z-index: 10;

              }

              .outOfStock {
                position: absolute;
                left: 10px;
                top: 0;
                background-color: $color-dark-theme;
                color: $color-white;
                font-family: $font-main;
                font-size: 14px;
                padding: 3px 20px;
                z-index: 10;

              }


              .productImage {
                width: 100%;
                display: flex;
                overflow: hidden;
                position: relative;

                &:hover {
                  .productOptions {
                    opacity: 1;
                    pointer-events: auto;
                  }
                }

                .productOptions {
                  display: inline-flex;
                  gap: 5px;
                  align-items: center;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                  z-index: 2;
                  pointer-events: none;
                  opacity: 0;
                  transition: opacity $transition-fast;

                  .optionButton {
                    background-color: $color-white;
                    padding: 14px;
                    transition: $transition-fast;
                    display: flex;
                    cursor: pointer;

                    &:hover {
                      margin-bottom: 10px;

                      svg {
                        color: $color-orange;
                      }
                    }

                    svg {
                      color: $color-black;
                      font-size: 18px;
                      transition: color $transition-fast;

                    }
                  }
                }

                a {
                  display: flex;
                  width: 100%;

                  &:hover {
                    img {
                      transform: scale(1.1);
                    }
                  }

                  img {
                    transition: transform $transition-medium;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                  }
                }
              }

              .productTitle {
                display: flex;
                flex-direction: column;

                a {
                  color: $color-black;
                  font-family: $font-main;
                  font-size: 19px;
                  transition: color $transition-fast;

                  &:hover {
                    color: $color-orange;
                  }

                }

                p {
                  margin-top: 12px;
                  font-size: 18px;
                  font-family: $font-main;
                  display: inline-flex;
                  align-items: center;
                  gap: 10px;
                  .productPrice {
                    text-decoration: line-through;
                  }
                }

                .productRating {
                  margin-top: 15px;
                  display: inline-flex;
                  gap: 2px;
                  align-items: center;

                  svg {
                    color: $color-orange;
                    font-size: 14px;
                  }
                }
              }

            }
          }

        }

        //RIGHT BLOCK
        .rightBlockFilter {
          max-width: 410px;
          width: 100%;
          background-color: $color-white;
          flex-direction: column;
          height: min-content;
          padding: 70px 40px 25px 40px;

          .rightBlockContainer {
            display: flex;
            width: 100%;
            flex-direction: column;
            margin-bottom: 40px;
            .noBrands {
              font-size: 17px;
              font-family: $font-alternative;
            }
            .containerHeading {
              display: flex;
              margin-bottom: 25px;

              p {
                font-size: 19px;
                color: $color-black;
                font-family: $font-main;
              }
            }

            .rightBasketContent {
              display: flex;
              flex-direction: column;
              width: 100%;

              .emptyBasket {
                display: inline-flex;
                width: 100%;

                p {
                  font-size: 17px;
                  color: $color-black;
                  font-family: $font-alternative;
                }
              }

              .rightBasketProducts {
                display: flex;
                width: 100%;
                flex-direction: column;

                .productsCards {
                  display: flex;
                  flex-direction: column;
                  width: 100%;

                  .productCard {
                    padding: 10px 0 20px 0;
                    display: flex;
                    position: relative;
                    gap: 20px;
                    align-items: center;

                    .deleteProduct {
                      position: absolute;
                      right: 10px;
                      top: 10px;
                      cursor: pointer;

                      &:hover {
                        svg {
                          color: $color-red;
                          transform: rotate(360deg);
                        }
                      }

                      svg {
                        font-size: 20px;
                        color: $color-gray-bold;
                        transition: $transition-fast;
                      }
                    }

                    .productImage {
                      width: 81px;
                      height: 81px;
                      display: flex;

                      a {
                        display: flex;
                        width: 100%;

                        img {
                          width: 100%;
                        }
                      }

                    }

                    .productTitle {
                      display: flex;
                      flex-direction: column;

                      a {
                        font-size: 19px;
                        font-family: $font-main;
                        color: $color-black;
                        transition: $transition-fast;

                        &:hover {
                          color: $color-orange;
                        }
                      }

                      p {
                        font-size: 18px;
                        font-family: $font-main;
                        color: $color-black;
                      }
                    }
                  }
                }

                .productSubtotal {
                  display: flex;
                  align-items: center;
                  width: 100%;
                  margin-top: 10px;

                  span {
                    display: inline-flex;
                    font-size: 18px;
                    gap: 5px;
                    font-family: $font-main;

                    p {
                      color: $color-orange;
                    }

                  }
                }

                .cartOperations {
                  display: flex;
                  width: 100%;
                  align-items: center;
                  justify-content: space-between;
                  margin-top: 25px;

                  a {
                    width: 160px;
                    padding: 15px 15px 14px;
                    text-align: center;
                    border: 2px solid transparent;
                    transition: $transition-fast;

                    &:nth-child(1) {
                      color: $color-white;
                      background-color: $color-orange;

                      &:hover {
                        background-color: #d33401;
                        border-color: #d33401;
                      }

                    }

                    &:nth-child(2) {
                      color: $color-dark-theme;
                      background-color: transparent;
                      border-color: $color-dark-theme;

                      &:hover {
                        border-color: $color-orange;
                        color: $color-orange;
                      }

                    }

                  }
                }
              }
            }

            .rightSearchContent {
              display: flex;
              width: 100%;
              border: 1px solid $color-black;

              button {
                padding: 8px 0 8px 12px;
                border: 0;
                outline: 0;
                cursor: pointer;
                background-color: transparent;

                svg {
                  font-size: 22px;
                }
              }

              input {
                width: 100%;
                padding: 0 10px;
                border: 0;
                outline: 0;
                font-size: 15px;
              }
            }

            .availabilityContent {
              display: flex;
              width: 100%;
              flex-direction: column;

              .availabilityItem {
                display: inline-flex;
                gap: 8px;
                font-size: 17px;
                font-family: $font-alternative;
                align-items: center;
                padding: 3px 0;
              }
            }

            .rightCategoriesContent {
              display: flex;
              width: 100%;
              flex-direction: column;
              .brandsLoading {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                svg {
                  font-size: 30px;
                  animation: rotateAnimation 1s linear infinite;
                }
              }

              .rightCategoriesItem {
                display: inline-flex;
                align-items: center;
                padding: 7px 0;
                gap: 5px;

                &.active {
                  span {
                    color: $color-orange!important;
                  }
                }

                span {
                  gap: 5px;
                  font-family: $font-alternative;
                  display: inline-flex;
                  align-items: center;
                  color: $color-black;
                  font-size: 17px;
                  transition: color $transition-fast;
                  cursor: pointer;

                  &:hover {
                    color: $color-gray;

                    svg {
                      color: $color-orange;
                    }
                  }

                  svg {
                    font-size: 25px;
                    transition: color $transition-fast;
                  }

                }

                span {
                  font-family: $font-alternative;
                  font-size: 17px;
                  color: $color-black;
                }
              }

            }

            .rightFilterContent {
              display: flex;
              width: 100%;
              flex-direction: column;

              .filterPrice {
                display: inline-flex;
                gap: 5px;
                align-items: center;
                margin-top: 10px;
                font-family: $font-alternative;
                font-size: 16px;


              }

              button {
                color: $color-white;
                background-color: $color-orange;
                font-size: 16px;
                font-family: $font-main;
                display: inline-flex;
                gap: 25px;
                width: 136px;
                outline: 0;
                border: 0;
                align-items: center;
                justify-content: center;
                height: 49px;
                margin-top: 25px;
                cursor: pointer;
                transition: $transition-fast;

                &:hover {
                  background-color: #d33600;
                }

                svg {
                  font-size: 20px;
                  color: $color-white;
                  padding-bottom: 2px;
                }

              }

            }

            .rightTagsContent {
              display: flex;
              width: 100%;
              flex-wrap: wrap;

              .tagItem {
                display: flex;
                border: 1px solid lightgray;
                margin: 0 5px 5px 0;
                cursor: default;

                &:hover {
                  p {
                    color: $color-orange;
                  }
                }

                p {
                  letter-spacing: 0.6px;
                  font-family: $font-main;
                  font-size: 14px;
                  line-height: 16px;
                  padding: 7px 18px 5px;
                  color: $color-black;
                  transition: $transition-fast;
                }
              }
            }
          }
        }
      }
    }
  }
}


//MEDIA STYLES

@media screen and (max-width: 1440px) {

  .productListWrapper {
    .productListMain {
      .allProductsSection {
        .allProductsContent {
          justify-content: center;
          gap: 35px;

          .rightBlockFilter {
            padding: 40px 30px 25px 30px;
            max-width: 350px;

            .rightBlockContainer {
              .rightBasketContent {
                .rightBasketProducts {
                  .cartOperations {
                    a {
                      width: 140px;
                    }
                  }
                }
              }
            }
          }

          .leftBlockProducts {
            max-width: 715px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {

  .productListWrapper {
    .productListMain {
      .allProductsSection {
        padding: 25px 35px 80px 35px;

        .allProductsContent {
          gap: 25px;

          .leftBlockProducts {
            .leftAllProducts {
              .productCard {
                padding: 0 20px 50px 0;

              }
            }
          }

          .rightBlockFilter {
            .rightBlockContainer {
              margin-bottom: 25px;

              .containerHeading {
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  .productListWrapper {
    .productListMain {
      .allProductsSection {
        padding: 25px 25px 50px 25px;

        .allProductsContent {
          flex-direction: column;

          .leftBlockProducts {
            max-width: unset;

            .leftBlockSorting {
              p {
                font-size: 16px;
              }

            }
            .leftAllProducts {
              .productCard {
                padding: 0 20px 30px 0;
              }
            }
          }

          .rightBlockFilter {
            max-width: unset;

            .rightBlockContainer {
              .rightBasketContent {
                .rightBasketProducts {
                  .cartOperations {
                    justify-content: start;
                    gap: 10px;

                    a {
                      width: 130px;
                      padding: 10px 0;
                    }
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {

  .productListWrapper {
    .productListMain {
      .allProductsSection {
        padding: 0 15px 25px 15px;

        .allProductsContent {
          .leftBlockProducts {
            .leftBlockSorting {
              flex-direction: column;
              align-items: start;
              gap: 12px;

              p {
                padding-left: 4px;
              }

            }

            .leftAllProducts {
              flex-wrap: unset;
              flex-direction: column;
              align-items: center;

              .productCard {
                padding: 20px 0 0 0;
                max-width: unset;
                width: 100%;
              }
            }
          }

          .rightBlockFilter {
            padding: 25px;

            .rightBlockContainer {
              .rightFilterContent {
                button {
                  width: 120px;
                  height: 40px;
                  margin-top: 15px;

                }
              }

              .rightCategoriesContent {
                .rightCategoriesItem {
                  padding: 3px 0;

                  a {
                    font-size: 15px;
                  }
                }
              }

              .rightBasketContent {
                .rightBasketProducts {
                  .productsCards {
                    .productCard {
                      gap: 10px;

                      .productImage {
                        width: 65px;
                        height: 65px;
                      }

                      .productTitle {
                        gap: 5px;

                        a {
                          font-size: 17px;
                        }

                        p {
                          font-size: 17px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}