$font-main: 'Bebas Neue', sans-serif;
$font-alternative: 'Roboto', sans-serif;
$color-yellow: #FFB936;
$color-orange: #EC3D08;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #ADAEAE;
$color-darkgray: #171A21;
$color-border: #323641;
$color-placeholder: #BDBDBD;



