@import "../../../../../Animations/Animations.module";
@import "../../../../../Variables/variables.module";

.adminProductPageWrapper {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: $color-main;
  flex-direction: column;
  align-items: center;
  padding: 120px 15px 120px 15px;

  .adminProductPageContent {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;

    .productsManipulation {
      width: 100%;
      display: flex;
      padding: 25px;
      background-color: $color-secondary;
      border-radius: 10px;
      margin-bottom: 25px;
      gap: 15px;
      border: 1px solid $color-border;

      .filterBlocks {
        display: flex;
        width: 100%;
        gap: 15px;
        flex-direction: column;
        .inputBlocks {
          display: flex;
          flex-direction: column;
          gap: 15px;
          width: 100%;
          max-width: 500px;

          label {
            width: 100%;
            height: 40px;

            input {
              width: 100%;
              height: 100%;
              padding: 0 10px;
              border: 1px solid $color-white;
              background-color: $color-border;
              border-radius: 5px;
              color: $color-white;
              outline: 0;
            }

            select {
              width: 100%;
              height: 100%;
              padding: 0 10px;
              color: $color-white;
              outline: 0;

              border: 1px solid $color-white;
              border-radius: 5px;
              background-color: $color-border;


            }
          }

        }
        .filterButtons {
          display: flex;
          flex-direction: column;
          gap: 15px;
          width: 100%;
          max-width: 250px;

          button {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            border: 0;
            outline: 0;
            color: $color-white;
            font-family: $font-main;
            font-size: 20px;
            cursor: pointer;
            transition: $transition-fast;
            background-color: $color-orange;
              &:hover {
                background-color: #9d2800;
              }
          }
        }
      }

      .addButtons {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: auto;

        .button {
          padding: 0 15px;
          height: 40px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: $transition-fast;
          border-radius: 5px;
          font-family: $font-main;
          color: $color-white;
          font-size: 20px;
          background-color: green;
          &:hover {
            background-color: darkgreen;
          }
          p {
            white-space: nowrap;
          }
          svg {
            display: none;
            color: $color-white;
            font-size: 22px;
          }
        }
      }

    }

    .productsTableBlock {
      width: 100%;
      display: flex;
      background-color: $color-secondary;
      border-radius: 10px 0 0 0;
      border: 1px solid $color-border;
      border-bottom: transparent;
      position: relative;
      .loadingBox {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        svg {
          font-size: 45px;
          color: $color-gray;
          animation: rotateAnimation 1s linear infinite;
        }
      }


      .overflow {
        display: flex;
        width: 100%;

        .table {
          display: flex;
          width: 100%;
          flex-direction: column;
          position: relative;
          min-height: 300px;

          .tableRow {
            display: flex;
            width: 100%;
            border-bottom: 1px solid $color-border;
            font-family: $font-alternative;
            font-size: 15px;
            color: $color-gray;

            &.headRow {
              font-family: $font-main;
              font-size: 17px;
            }

            .tableCell {
              padding: 8px 16px;
              display: flex;
              width: 100%;
              align-items: center;
            }
            .name {
              max-width: 300px;
              align-items: center;

              .imgBox {
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-white;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 8px;

                img {
                  width: 80%;
                  border-radius: 50%;

                }
              }
            }

            .category {
              max-width: 170px;
            }

            .price {
              max-width: 100px;
            }

            .sale {
              max-width: 125px;
            }

            .stock {
              max-width: 90px;
              justify-content: center;
            }

            .status {
              max-width: 100px;
              justify-content: center;

              span {
                white-space: nowrap;
                font-size: 12px;
                background-color: green;
                color: $color-white;
                padding: 3px 5px;
                border-radius: 4px;
              }
            }

            .view {
              max-width: 80px;
              justify-content: center;
                color: $color-gray;
              gap: 10px;
              span {
                  &:hover {
                    svg {
                      color: $color-orange;
                    }
                  }
                  svg {
                    font-size: 22px;
                    cursor: pointer;
                    transition: $transition-fast;
                  }
                }
              a {
                &:hover {
                  svg {
                    color: $color-orange;
                  }
                }
                svg {
                  color: $color-gray;
                  font-size: 22px;
                }

              }


            }

            .publish {
              max-width: 125px;
              justify-content: center;
            }

            .actions {
              max-width: 130px;
              justify-content: end;
              gap: 10px;
              margin-left: auto;
              span {
                cursor: pointer;
                &:nth-child(1):hover {
                  svg {
                    color: green;
                  }
                }
                &:nth-child(2):hover {
                  svg {
                    color: red;
                  }
                }
                svg {
                  font-size: 22px;
                  transition: color $transition-fast;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .adminProductPageWrapper {
    .adminProductPageContent {
      max-width: 1100px;

      .productsTableBlock {
        .overflow {
          .table {
            .tableRow {
              .tableCell {
                padding: 4px 8px;
              }

              .name {
                max-width: 250px;
              }

              .stock {
                max-width: 60px;
              }

              .view {
                max-width: 60px;
              }

              .publish {
                max-width: 80px;
              }

              .actions {
                max-width: 100px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .adminProductPageWrapper {
    .adminProductPageContent {
      .productsTableBlock {
        flex-direction: column;
        .overflow {
          overflow-x: auto;
          .table {
            min-width: 1100px;
            .tableRow {
              font-size: 12px;
              &.headRow {
                font-size: 15px!important;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .adminProductPageWrapper {
    .adminProductPageContent {
      .productsManipulation {
        justify-content: space-between;
        .filterBlocks {
          flex-direction: column;
          width: 100%;
          .filterButtons {
            width: 100%;
            max-width: 500px;

            button {
              max-width: 500px;
              width: 100%;
            }
          }
        }
        .addButtons {
          margin-left: unset;
          .button {
            p {
              display: none;
            }
            svg {
              display: block;
              pointer-events: none;
            }

          }
        }
      }

    }
  }
}